.App{
	background:red;
}
.Board{
	width:300px;
	display: grid;
	grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
	grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
}
.Tile{

}
.buttons{
	color:yellow;
}